@charset "UTF-8";
/* это без учёта margin */
/* Медиа-запрос для изменения порядка отображения на ширине 1441px и выше */
@media (min-width: 1441px) {
  .block-whith-social-links {
    padding: 2.7777777778vw 5.5555555556vw 300px 5.5555555556vw;
  }
  .block-whith-social-links__small-block {
    width: 29.3055555556vw;
  }
  .block-whith-social-links__telegram-link {
    position: absolute;
    right: 549.5px;
    bottom: 287.5px;
    background: url(../img/SVG/telegram-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
  }
  .block-whith-social-links__linkedin-link {
    position: absolute;
    right: 492px;
    bottom: 269px;
    background: url(../img/SVG/linkedin-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
  }
  .block-whith-social-links__signal-link {
    position: absolute;
    right: 542px;
    bottom: 208px;
    background: url(../img/SVG/signal-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: center center;
  }
  .block-whith-social-links__whatsapp-link {
    position: absolute;
    right: 441px;
    bottom: 205px;
    background: url(../img/SVG/whatsapp-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center center;
  }
  .block-whith-social-links__facebook-link {
    position: absolute;
    right: 494px;
    bottom: 159px;
    background: url(../img/SVG/facebook-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
  }
  .block-whith-social-links__google-link {
    position: absolute;
    right: 412px;
    bottom: 134px;
    background: url(../img/SVG/google-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
  }
  .block-whith-social-links__stack-of-coins {
    right: 776px;
  }
  .block-whith-social-links__outer::before {
    content: "";
    width: 49.3055555556vw;
  }
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features__small-block {
    width: 350px;
  }
}
/* Медиа-запрос для изменения порядка отображения на ширине 1365px и ниже */
@media (max-width: 1365px) {
  .header-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; /* При максимальной ширине 1365px и ниже второй элемент меняется на третий место */
    margin: -15.5px auto 20px auto;
    padding-right: calc(-30px + 5.1282051282vw);
  }
  #getConsultation {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; /* При максимальной ширине 1365px и ниже третий элемент меняется на второе место */
  }
  .h1-wrap {
    margin: 50px 0 0 0;
  }
  header .header-menu {
    display: none;
  }
  header #getConsultation {
    display: none;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* Медиа-запрос для изменения порядка отображения на ширине 1137px и ниже */
@media (max-width: 1137px) {
  .block-whith-social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block-whith-social-links__outer {
    width: auto;
  }
  .block-whith-social-links__small-block {
    width: 37.0833333333vw;
  }
  .block-whith-social-links__big-block {
    width: 37.0833333333vw;
  }
  .features::before {
    content: "";
    position: absolute;
    top: 0;
    width: 95%;
    height: 90%;
    background: #eaeaea;
    z-index: -1;
  }
}
/* Медиа-запрос для изменения порядка отображения на ширине 980px и ниже */
@media (max-width: 980px) {
  .block-whith-social-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    padding: 2.7777777778vw 5.5555555556vw calc(520px - 18.75vw) 5.5555555556vw;
  }
  .block-whith-social-links__outer {
    margin: 0 5.5555555556vw 0 0;
    width: 100%;
  }
  .block-whith-social-links__small-block {
    width: auto;
  }
  .block-whith-social-links__big-block {
    width: auto;
  }
  .block-whith-social-links__stack-of-coins {
    display: none;
  }
  .block-whith-social-links__funnel-whith-money-and-arrow {
    position: absolute;
    width: 472px;
    height: 362px;
    bottom: 2.1527777778vw;
    right: 5.5555555556vw;
    background: url(../img/SVG/funnel-whith-money-and-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
    z-index: 10;
  }
  .block-whith-social-links::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 88%;
    height: 50%;
    z-index: 1;
    background-color: #ffbf1c;
  }
  .block-whith-social-links__outer::before {
    content: "";
    display: none;
  }
}
/* Медиа-запрос для изменения порядка отображения на ширине 838px и ниже */
@media (max-width: 838px) {
  .h1-wrap {
    padding: 0 5.5555555556vw 0 5.5555555556vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 138px 0 0 0;
  }
  .h1-wrap .h1-wrap__text-wrap {
    margin: 6.5277777778vw 0 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h1-wrap .h1-wrap__img-wrap {
    display: none;
  }
  .h2-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .h2-wrap__text-block {
    padding: 50px 0 0 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .h2-wrap__img-block {
    width: 100%;
    height: calc(120px + 36.276849642vw);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-position: 100% 100%;
  }
  .block-whith-social-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    padding-bottom: calc(160px + 13.1264916468vw);
  }
  .block-whith-social-links__outer {
    margin: 0 5.5555555556vw 0 0;
    width: 100%;
  }
  .block-whith-social-links__small-block {
    width: auto;
  }
  .block-whith-social-links__big-block {
    width: auto;
  }
  .block-whith-social-links__funnel-whith-money-and-arrow {
    position: absolute;
    width: 56.3245823389vw;
    height: 32.2195704057vw;
    bottom: 30px;
    right: 5.5555555556vw;
    background: url(../img/SVG/funnel-whith-money-and-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
    z-index: 10;
  }
  .block-whith-social-links__telegram-link {
    position: absolute;
    left: 0;
    bottom: 183.5px;
    background: url(../img/SVG/telegram-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
  }
  .block-whith-social-links__linkedin-link {
    position: absolute;
    left: 57px;
    bottom: 165px;
    background: url(../img/SVG/linkedin-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
  }
  .block-whith-social-links__signal-link {
    position: absolute;
    left: 7px;
    bottom: 104px;
    background: url(../img/SVG/signal-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: center center;
  }
  .block-whith-social-links__whatsapp-link {
    position: absolute;
    left: 108px;
    bottom: 101px;
    background: url(../img/SVG/whatsapp-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center center;
  }
  .block-whith-social-links__facebook-link {
    position: absolute;
    left: 55px;
    bottom: 55px;
    background: url(../img/SVG/facebook-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
  }
  .block-whith-social-links__google-link {
    position: absolute;
    left: 137px;
    bottom: 30px;
    background: url(../img/SVG/google-ico.svg), #fff;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
  }
  .block-whith-social-links::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 88%;
    height: 50%;
    z-index: 1;
    background-color: #ffbf1c;
  }
}
/* Медиа-запрос для изменения порядка отображения на ширине 799px и ниже */
@media (max-width: 800px) {
  .header-menu .header-menu__link {
    font-size: calc(-0.5px + 2.25vw);
  }
}
/* Медиа-запрос для изменения порядка отображения на ширине 639px и ниже */
@media (max-width: 639px) {
  .header-menu {
    display: none;
  }
  .footer {
    margin: 5.5555555556vw 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #1c1c1c;
  }
  .footer__wrap {
    padding: 12px 0 0 0;
  }
  .footer__top-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 0;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .h1-wrap {
    padding: 0 5.5555555556vw 0 5.5555555556vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 90px 0 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .h1-wrap .h1-wrap__text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .h1-wrap .h1-wrap__text-wrap h1 {
    margin: 1.5972222222vw 0 0 0;
    color: #1c1c1c;
    font-family: Unbounded;
    font-size: calc(20px + 3.7558685446vw);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 66px */
  }
  .h1-wrap .h1-wrap__text-wrap .h1-wrap__button-body {
    margin: 9.3896713615vw 0 0 0;
    padding: 16px 32px;
    border-radius: 60px;
    background: #006ceb;
    /* btn shadow 1 */
    -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Unbounded;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12.5195618153vw 5.5555555556vw 0 5.5555555556vw;
    padding: 6.2597809077vw 0 0 0;
  }
  .features__title {
    width: 90%;
    font-size: calc(10px + 5.3208137715vw);
  }
  .features__subtitle-block {
    margin: 4.6948356808vw 0 7.8247261346vw 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px;
    width: 90%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .features__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: calc(10px + 3.1298904538vw);
    text-align: center;
  }
  .features__small-block-title {
    font-size: calc(10px + 3.1298904538vw);
  }
  .features__small-block-item {
    font-size: calc(10px + 1.2519561815vw);
  }
}
/* Медиа-запрос для изменения порядка отображения на ширине 400px и ниже */
@media (max-width: 400px) {
  .h2-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .h2-wrap__span {
    font-size: 5vw;
  }
  .h2-wrap .h2-wrap__link {
    font-size: 5vw;
  }
  .footer__privacy-item {
    font-size: 4vw;
  }
}