@charset "UTF-8";
/* это без учёта margin */
body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85); /* Задайте цвет фона заголовка */
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px); /* Применение размытия */
  z-index: 1000; /* Уровень отображения над остальным контентом */
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; /* Плавное изменение цвета фона при прокрутке */
}

.header__inner {
  position: relative;
  padding: 16px 0 16px 0;
  min-height: 50px;
  max-height: 138px;
  padding: 0 5.5555555556vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19.5px;
}

.logo-wrap {
  margin: 0;
  padding: 0 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}
.logo-wrap .logo-first-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.logo-wrap .logo-second-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logo-wrap:hover {
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}

.logo-wrap:not(:hover) {
  -webkit-transition: 1s;
  transition: 1s;
}

.header-menu {
  margin: 0 auto 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.header-menu .header-menu__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-menu .header-menu__link {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.header-menu .header-menu__link:hover {
  color: #006ceb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header-menu .header-menu__link:not(:hover) {
  -webkit-transition: 1s;
  transition: 1s;
}

#burgerGetConsultation {
  font-family: Unbounded;
  font-size: calc(12px + 0.4166666667vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 18px 5.5555555556vw 70px 5.5555555556vw;
  padding: 16px 32px;
  border: none;
  border-radius: 60px;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
  background-color: #006CEB;
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
  z-index: 20;
}

#headerGetConsultation {
  font-family: Unbounded;
  font-size: calc(12px + 0.4166666667vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 18px 0;
  padding: 16px 32px;
  border: none;
  border-radius: 60px;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}

#footerGetConsultation {
  font-family: Unbounded;
  font-size: calc(12px + 0.4166666667vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 18px 0;
  padding: 16px 32px;
  border: none;
  border-radius: 60px;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}

#burgerGetConsultation:hover {
  background: black;
  -webkit-box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#burgerGetConsultation:not(:hover) {
  border-radius: 60px;
  -webkit-box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

#headerGetConsultation:hover {
  background: #006ceb;
  -webkit-box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#headerGetConsultation:not(:hover) {
  border-radius: 60px;
  -webkit-box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

#footerGetConsultation:hover {
  background: white;
  -webkit-box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#footerGetConsultation:not(:hover) {
  border-radius: 60px;
  -webkit-box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

/* Скрытый фон для затемнения страницы */
#popupBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.86);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
  z-index: 9998;
}

/* Всплывающее окно */
#popupGetConsultation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10vh 13.125vw 0 13.125vw;
  width: 73.75vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

#popupGetADemoSys {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10vh 13.125vw 0 13.125vw;
  width: 73.75vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

#popupGetADemo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10vh 13.125vw 0 13.125vw;
  width: 73.75vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10vh 10vw;
  gap: 4.2vh;
}

.get-consultation-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-consultation-form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  gap: 2.1vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-left-block-wrap {
  height: 12.4vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.1vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.input-right-block-wrap {
  height: 12.4vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#name, #email, #message {
  padding-left: 1.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.7vh;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-radius: 8px;
  border: 1.2px solid #838383;
  background: #FFF;
  color: #838383;
  font-family: Montserrat;
  font-size: calc(12px + 0.4166666667vw);
  font-style: normal;
  font-weight: 400;
  line-height: calc(12px + 0.6944444444vw); /* 122.222% */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#message {
  padding-top: 1.3vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 1;
      flex: 1;
}

#getConsultationSend {
  margin: 4.3vh auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 60px;
  background: #006CEB;
  border: none;
  color: #FFF;
  font-family: Unbounded;
  font-size: calc(12px + 0.4166666667vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

#getADemoSysSend {
  margin: 4.3vh auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 60px;
  background: #006CEB;
  border: none;
  color: #FFF;
  font-family: Unbounded;
  font-size: calc(12px + 0.4166666667vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

#getADemoSend {
  margin: 4.3vh auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 60px;
  background: #006CEB;
  border: none;
  color: #FFF;
  font-family: Unbounded;
  font-size: calc(12px + 0.4166666667vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

#getConsultationSend:hover {
  background-color: #1c1c1c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#getConsultationSend:not(:hover) {
  -webkit-transition: 1s;
  transition: 1s;
}

#getADemoSysSend:hover {
  background-color: #1c1c1c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#getADemoSysSend:not(:hover) {
  -webkit-transition: 1s;
  transition: 1s;
}

#getADemoSend:hover {
  background-color: #1c1c1c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#getADemoSend:not(:hover) {
  -webkit-transition: 1s;
  transition: 1s;
}

/* Оформление формы */
.form-h2 {
  color: #1C1C1C;
  font-family: Unbounded;
  font-size: calc(12px + 1.25vw);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 45px */
}

#closeBtnGetConsultation {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 26px;
  height: 26px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(../img/SVG/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
}

#closeBtnGetADemoSys {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 26px;
  height: 26px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(../img/SVG/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
}

/* Гамбургер иконка */
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1001;
  overflow: hidden;
  display: none;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #222222;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -ms-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
      -ms-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
  margin: 50px 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 0.85); /* Задайте цвет фона заголовка */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Применение размытия */
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu nav {
  margin: 0 5.5555555556vw;
}
.menu ul {
  margin: 20px 0 0 0;
}
.menu li {
  margin: 0 5.5555555556vw;
}
.menu a {
  color: #1c1c1c;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.menu a:hover {
  color: #006ceb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.menu a:not(:hover) {
  color: #1c1c1c;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu li {
  list-style-type: none;
}

.h1-wrap {
  padding: 0 5.5555555556vw 0 5.5555555556vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: calc(20px + 4.8611111111vw) 0 0 0;
}
.h1-wrap .h1-wrap__text-wrap {
  margin: calc(50px + 3.0555555556vw) 0 0 0;
  width: 43.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.h1-wrap .h1-wrap__text-wrap h1 {
  padding: 1.5972222222vw 0 0 0;
  color: #1c1c1c;
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 66px */
}
.h1-wrap .h1-wrap__text-wrap .h1-wrap__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.h1-wrap .h1-wrap__text-wrap #getADemoSys {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: Unbounded;
  font-size: calc(12px + 0.4166666667vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap; /* Отменяет перенос слов */
  display: inline-block;
  margin: 40px 0 0 0;
  padding: 16px 32px;
  border-radius: 60px;
  background: #006ceb;
  /* btn shadow 1 */
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}
.h1-wrap .h1-wrap__text-wrap #getADemoSys:hover {
  background: #1c1c1c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.h1-wrap .h1-wrap__text-wrap #getADemoSys:not(:hover) {
  background: #006ceb;
  -webkit-transition: 1s;
  transition: 1s;
}
.h1-wrap .h1-wrap__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 43.75vw;
  height: 440px;
  background-image: url(../img/SVG/h1-illustration.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 82%;
}

.h2-wrap {
  padding: 5.5555555556vw 5.5555555556vw 0 5.5555555556vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.h2-wrap__text-block {
  width: 43.9583333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.h2-wrap__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #006ceb;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
}
.h2-wrap__span {
  padding: 0 5px 0 0;
  display: block;
  color: #1c1c1c;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.h2-wrap__strong {
  padding: 20px 0 0 0;
  display: block;
  color: #1c1c1c;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.h2-wrap__span-whith-link-wrap {
  padding: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.h2-wrap__link {
  display: block;
  color: #006ceb;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.h2-wrap .h2-wrap__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.h2-wrap #getADemo {
  border: none;
  color: #fff;
  font-family: Unbounded;
  font-size: calc(12px + 0.4166666667vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap; /* Отменяет перенос слов */
  display: inline-block;
  margin: 30px 0 0 0;
  padding: 16px 32px;
  border-radius: 60px;
  background: #006ceb;
  /* btn shadow 1 */
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}
.h2-wrap .h2-wrap__button-link:hover {
  background: #1c1c1c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.h2-wrap .h2-wrap__button-link:not(:hover) {
  background: #006ceb;
  -webkit-transition: 1s;
  transition: 1s;
}
.h2-wrap__img-block {
  width: 42.1527777778vw;
  background: url(../img/SVG/h2-illustration.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 20%;
}

.block-whith-social-links {
  margin: 5.5555555556vw 0 0 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 4.1666666667vw;
  background-color: #eaeaea;
  padding: 2.7777777778vw 5.5555555556vw calc(600px - 24.3055555556vw) 5.5555555556vw;
}
.block-whith-social-links__stack-of-coins {
  position: absolute;
  width: 300px;
  height: 276px;
  bottom: 5.2083333333vw;
  right: 626px;
  background: url(../img/SVG/stack-of-coins.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  z-index: 10;
}
.block-whith-social-links__funnel-whith-money-and-arrow {
  position: absolute;
  width: 472px;
  height: 409px;
  bottom: 2.1527777778vw;
  right: 5.5555555556vw;
  background: url(../img/SVG/funnel-whith-money-and-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  z-index: 10;
}
.block-whith-social-links__social-link {
  position: absolute;
  margin: 0 5.5555555556vw 0 5.5555555556vw;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  -webkit-filter: drop-shadow(0px 0px 26px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 0px 26px rgba(0, 0, 0, 0.16));
}
.block-whith-social-links__telegram-link {
  position: absolute;
  right: 499.5px;
  bottom: 237.5px;
  background: url(../img/SVG/telegram-ico.svg), #fff;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
}
.block-whith-social-links__linkedin-link {
  position: absolute;
  right: 442px;
  bottom: 219px;
  background: url(../img/SVG/linkedin-ico.svg), #fff;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center center;
}
.block-whith-social-links__signal-link {
  position: absolute;
  right: 492px;
  bottom: 158px;
  background: url(../img/SVG/signal-ico.svg), #fff;
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center center;
}
.block-whith-social-links__whatsapp-link {
  position: absolute;
  right: 391px;
  bottom: 155px;
  background: url(../img/SVG/whatsapp-ico.svg), #fff;
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: center center;
}
.block-whith-social-links__facebook-link {
  position: absolute;
  right: 444px;
  bottom: 109px;
  background: url(../img/SVG/facebook-ico.svg), #fff;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
}
.block-whith-social-links__google-link {
  position: absolute;
  right: 362px;
  bottom: 84px;
  background: url(../img/SVG/google-ico.svg), #fff;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
}
.block-whith-social-links__outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  z-index: 2;
}
.block-whith-social-links__small-block {
  width: 422px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 30px;
  background: #fff;
  /* card shadow bg */
  -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.block-whith-social-links__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1c1c1c;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
}
.block-whith-social-links__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1c1c1c;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.block-whith-social-links__big-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  background: #fff;
  /* card shadow bg */
  -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.block-whith-social-links__social-link:hover {
  /* поведение при наведении на social link */
  background-position: center center;
  -webkit-filter: drop-shadow(0px 0px 15px #006ceb);
          filter: drop-shadow(0px 0px 15px #006ceb);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.block-whith-social-links__social-link:not(:hover) {
  /* поведение при отведении с social link */
  background-position: center center;
  -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.block-whith-social-links__outer::before {
  content: "";
  position: absolute;
  top: 13.7%;
  left: -5.5555555556vw;
  width: 710px;
  height: 72.7%;
  z-index: 1;
  background-color: #ffbf1c;
}

.features {
  margin: 80px 5.5555555556vw 0 5.5555555556vw;
  padding: 40px 0 0 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 57%;
  color: #1c1c1c;
  font-family: Unbounded;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 66px */
}
.features__subtitle-block {
  margin: 30px 0 50px 0;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
}
.features__wrap-whith-small-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.features__small-block {
  width: 250px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  border-radius: 30px;
  background: var(--white, #fff);
  /* card shadow bg */
  -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
}
.features__small-block-title {
  color: #1c1c1c;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
}
.features__small-block-list {
  padding: 0 0 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.features__small-block-item {
  position: relative;
  color: #1c1c1c;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.features::before {
  content: "";
  position: absolute;
  top: 0;
  width: 66.1%;
  height: 90%;
  background: #eaeaea;
  z-index: -1;
}

.features__small-block-item::before {
  content: "";
  position: absolute;
  top: 1ex;
  left: -16px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #006ceb;
  z-index: 2;
}

.form-with-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: calc(20px + 4.1666666667vw) 5.5555555556vw 0 5.5555555556vw;
  padding: calc(15px + 1.7361111111vw) auto;
  gap: 20px;
}
.form-with-contacts__contacts {
  min-width: 310px;
  width: calc(310px + 10.4166666667vw);
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-with-contacts__contacts-title {
  margin: 15px 0 15px 0;
  color: black;
  text-align: start;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
}
.form-with-contacts__contacts-links-outer {
  margin: 0 0 15px 0;
  padding: 0 0 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.form-with-contacts__mail-link {
  color: var(--dark-grey, #1C1C1C);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.form-with-contacts__telegram-link {
  color: var(--dark-grey, #1C1C1C);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.form-with-contacts__whatsup-link {
  color: var(--dark-grey, #1C1C1C);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.form-with-contacts__web-link {
  color: var(--dark-grey, #1C1C1C);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.form-with-contacts__form-outer {
  padding: calc(-10px + 2.7777777778vw) calc(-10px + 3.4722222222vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48.6111111111vw;
  border-radius: 30px;
  background: #FFF;
  /* card shadow bg */
  -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
}
.form-with-contacts__form-title {
  color: var(--blue, #006CEB);
  text-align: center;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
}
.form-with-contacts__form-text {
  margin: 20px 0 30px 0;
  color: var(--dark-grey, #1C1C1C);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.form-with-contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.form-with-contacts__form-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.form-with-contacts__input-left-block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  height: 120px;
  min-width: 180px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.form-with-contacts__input-right-block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 180px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.form-with-contacts #mainFormName, .form-with-contacts #mainFormEmail, .form-with-contacts #mainFormMessage {
  height: 50px;
  border-radius: 8px;
  border: 1.2px solid var(--text-not-filled, #838383);
  background: #FFF;
  color: var(--text-not-filled, #838383);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 122.222% */
  padding: 0 0 0 20px;
}
.form-with-contacts #mainFormMessage {
  height: 120px;
}

.footer {
  margin: 5.5555555556vw 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1c1c1c;
}
.footer__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__top-block {
  position: relative;
  padding: 0 5.5555555556vw 0 5.5555555556vw;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19.5px;
}
.footer__center-block {
  padding: 0 5.5555555556vw 30px 5.5555555556vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__privacy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.footer__privacy-item {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
.footer__bottom-block {
  padding: 0 5.5555555556vw 0 5.5555555556vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  background-color: #ffbf1c;
}
.footer__bottom-block-text {
  color: #1c1c1c;
  text-align: center;
  font-family: Montserrat;
  font-size: calc(12px + 0.2777777778vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
.footer__header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-section {
  margin: calc(50px + 4.8611111111vw) 5.5555555556vw 0 5.5555555556vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc(10px + 0.6944444444vw);
}

.about-strong {
  margin: calc(10px + 0.6944444444vw) 0 calc(-10px + 0vw);
  color: #1C1C1C;
  font-family: Unbounded;
  font-size: calc(15px + 1.0416666667vw);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
}

.about-span {
  color: #1C1C1C;
  font-family: Montserrat;
  font-size: calc(12px + 0.5555555556vw);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.black-background {
  background: black;
}

.white-background {
  background: white;
}

.yello-background {
  background: #ffbf1c;
}

.black-text {
  color: #1c1c1c;
}

.blue-text {
  color: #006ceb;
}

.white-text {
  color: #ffffff;
}

.yello-text {
  color: #ffbf1c;
}

.margin-top-40 {
  margin-top: calc(20px + 1.3888888889vw);
}

.margin-left-40 {
  margin-left: calc(20px + 1.3888888889vw);
}

.jc-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}