@charset "UTF-8";
:root {
  --padding-left-and-right: 5.55555555555556vw; /*   var(--padding-left-and-right)   */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Задайте цвет фона заголовка */
  backdrop-filter: blur(10px); /* Применение размытия */
  z-index: 1000; /* Уровень отображения над остальным контентом */
  transition: background-color 0.3s; /* Плавное изменение цвета фона при прокрутке */
}

.logo {
  position: relative;
  padding: 25px 0 0 80px;
  display: flex;
}
.logo_first-word {
  display: flex;
  color: #006ceb;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.logo_second-word {
  display: flex;
  color: #1c1c1c;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-menu {
  padding: 0 0 0 0;
  position: relative;
  display: flex;
  align-items: center;
}
.header-menu_ul {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.header-menu_p {
  color: #1c1c1c;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
