@charset "UTF-8";
:root {
  --padding-left-and-right: 5.55555555555556vw; /*   var(--padding-left-and-right)   */
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85); /* Задайте цвет фона заголовка */
  backdrop-filter: blur(4px); /* Применение размытия */
  z-index: 1000; /* Уровень отображения над остальным контентом */
  transition: background-color 0.5s; /* Плавное изменение цвета фона при прокрутке */
}

.header__inner {
  position: relative;
  padding: 16px 0 16px 0;
  min-height: 90px;
  max-height: 138px;
  padding: 0 var(--padding-left-and-right);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 19.5px;
}

.header__logo-wrap {
  margin: 0;
  padding: 0 0 0 0;
  display: flex;
  z-index: 10000;
}
.header__logo-wrap .header__logo-first-word {
  display: flex;
  color: #006ceb;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__logo-wrap .header__logo-second-word {
  display: flex;
  color: #1c1c1c;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-menu {
  margin: 0 auto 0 auto;
  padding: 0;
  display: flex;
  order: 1;
}
.header-menu .header-menu__list {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header-menu .header-menu__link {
  color: #1c1c1c;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.header-menu .header-menu__link:hover {
  color: #006ceb;
  transition: 0.4s;
}

.header-button {
  display: inline-block;
  order: 3;
  margin: 18px 0;
  padding: 16px 32px;
  height: 22px;
  border-radius: 60px;
  background: #1c1c1c;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}
.header-button .header-button__link {
  color: #fff;
  font-family: Unbounded;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-button:hover {
  border-radius: 60px;
  background: #006ceb;
  box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

/* Гамбургер иконка */
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1001;
  overflow: hidden;
  display: none;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
  padding: 90px 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85); /* Задайте цвет фона заголовка */
  backdrop-filter: blur(10px); /* Применение размытия */
  transform: translateY(-100%);
  transition: transform 0.5s;
  z-index: 2;
}
.menu nav {
  margin: 0 var(--padding-left-and-right);
}
.menu li {
  margin: 0 auto;
}
.menu a {
  color: #1c1c1c;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.menu a:hover {
  color: var(--blue, #006ceb);
  transition: 0.4s;
}

.menu.active {
  transform: translateX(0);
}

.menu li {
  list-style-type: none;
}

.h1-wrap {
  padding: 0 var(--padding-left-and-right) 0 var(--padding-left-and-right);
  display: flex;
  justify-content: space-between;
  margin: 90px 0 0 0;
}
.h1-wrap .h1-wrap__text-wrap {
  margin: 6.5277777778vw 0 0 0;
  width: 43.75vw;
  display: flex;
  flex-direction: column;
}
.h1-wrap .h1-wrap__text-wrap h1 {
  padding: 1.5972222222vw 0 0 0;
  color: #1c1c1c;
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 66px */
}
.h1-wrap .h1-wrap__text-wrap .text-wrap__button-wrap {
  display: flex;
}
.h1-wrap .h1-wrap__text-wrap .h1-wrap__button-body {
  display: inline-block;
  margin: 40px 0 0 0;
  padding: 16px 32px;
  border-radius: 60px;
  background: #006ceb;
  /* btn shadow 1 */
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Изменение вида курсора на палец при наведении */
}
.h1-wrap .h1-wrap__text-wrap .h1-wrap__button-link {
  color: #fff;
  font-family: Unbounded;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap; /* Отменяет перенос слов */
}
.h1-wrap .h1-wrap__text-wrap .h1-wrap__button-body:hover {
  background: #1c1c1c;
  transition: 0.4s;
}
.h1-wrap .h1-wrap__img-wrap {
  display: flex;
  width: 43.75vw;
  height: 500px;
  background-image: url(../img/SVG/h1-illustration.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 20%;
}

/* Медиа-запрос для изменения порядка отображения на ширине 1500px и выше */
/* Медиа-запрос для изменения порядка отображения на ширине 1800px и выше */
/* Медиа-запрос для изменения порядка отображения на ширине 2246px и выше */
/* Медиа-запрос для изменения порядка отображения на ширине 2384px и выше */
/* Медиа-запрос для изменения порядка отображения на ширине 2860px и выше */
/* Медиа-запрос для изменения порядка отображения на ширине 1439px и ниже */
/* Медиа-запрос для изменения порядка отображения на ширине 1365px и ниже */
@media (max-width: 1365px) {
  .header-menu {
    order: 2; /* При максимальной ширине 1365px и ниже второй элемент меняется на третий место */
    margin: -15.5px auto 20px auto;
    padding-right: calc(-30px + 5.1282051282vw);
  }
  .header-button {
    order: 1; /* При максимальной ширине 1365px и ниже третий элемент меняется на второе место */
  }
  .h1-wrap {
    margin: 138px 0 0 0;
  }
}
/* Медиа-запрос для изменения порядка отображения на ширине 838px и ниже */
@media (max-width: 838px) {
  .h1-wrap {
    padding: 0 var(--padding-left-and-right) 0 var(--padding-left-and-right);
    display: flex;
    justify-content: space-between;
    margin: 138px 0 0 0;
  }
  .h1-wrap .h1-wrap__text-wrap {
    margin: 6.5277777778vw 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .h1-wrap .h1-wrap__img-wrap {
    display: none;
  }
}
/* Медиа-запрос для изменения порядка отображения на ширине 799px и ниже */
@media (max-width: 800px) {
  .header-menu .header-menu__a {
    font-size: calc(-0.5px + 2.25vw);
  }
}
/* Медиа-запрос для изменения порядка отображения на ширине 771px и ниже */
/* Медиа-запрос для изменения порядка отображения на ширине 639px и ниже */
@media (max-width: 639px) {
  .header-menu {
    display: none;
  }
  .header-button {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
  .h1-wrap {
    padding: 0 var(--padding-left-and-right) 0 var(--padding-left-and-right);
    display: flex;
    justify-content: space-between;
    margin: 90px 0 0 0;
    align-items: flex-start;
  }
  .h1-wrap .h1-wrap__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .h1-wrap .h1-wrap__text-wrap h1 {
    margin: 1.5972222222vw 0 0 0;
    color: #1c1c1c;
    font-family: Unbounded;
    font-size: calc(20px + 3.7558685446vw);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 66px */
  }
  .h1-wrap .h1-wrap__text-wrap .button-wrap__button {
    margin: 9.3896713615vw 0 0 0;
    padding: 16px 32px;
    width: 178px;
    border-radius: 60px;
    background: #006ceb;
    /* btn shadow 1 */
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Unbounded;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}