$padding-left-and-right: 5.55555555555556vw;
$ANTIpadding-left-and-right: -5.55555555555556vw;

$social-links-margin-right: 362px; /* это без учёта margin */
$social-links-margin-bottom: 84px;

/* Медиа-запрос для изменения порядка отображения на ширине 1441px и выше */
@media (min-width: 1441px) {
	.block-whith-social-links {
		padding: calc(40 / 1440 * 100vw) $padding-left-and-right 300px $padding-left-and-right;

		&__small-block {
			width: calc(422 / 1440 * 100vw);
		}

		&__telegram-link {
			position: absolute;
			right: calc(($social-links-margin-right) + 187.5px);
			bottom: calc(($social-links-margin-bottom) + 203.5px);
			background: url(../img/SVG/telegram-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 30px;
			background-position: center center;
		}

		&__linkedin-link {
			position: absolute;
			right: calc(($social-links-margin-right) + 130px);
			bottom: calc(($social-links-margin-bottom) + 185px);
			background: url(../img/SVG/linkedin-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 24px;
			background-position: center center;
		}

		&__signal-link {
			position: absolute;
			right: calc(($social-links-margin-right) + 180px);
			bottom: calc(($social-links-margin-bottom) + 124px);
			background: url(../img/SVG/signal-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 26px;
			background-position: center center;
		}

		&__whatsapp-link {
			position: absolute;
			right: calc(($social-links-margin-right) + 79px);
			bottom: calc(($social-links-margin-bottom) + 121px);
			background: url(../img/SVG/whatsapp-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 36px;
			background-position: center center;
		}

		&__facebook-link {
			position: absolute;
			right: calc(($social-links-margin-right) + 132px);
			bottom: calc(($social-links-margin-bottom) + 75px);
			background: url(../img/SVG/facebook-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 30px;
			background-position: center center;
		}

		&__google-link {
			position: absolute;
			right: $social-links-margin-right + 50px;
			bottom: $social-links-margin-bottom + 50px;
			background: url(../img/SVG/google-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 30px;
			background-position: center center;
		}

		&__stack-of-coins {
			right: 776px;
		}
	}

	.block-whith-social-links__outer::before {
		content: "";
		width: calc(710 / 1440 * 100vw);
	}

	.features {
		display: flex;

		&__small-block {
			width: 350px;
		}
	}
}

/* Медиа-запрос для изменения порядка отображения на ширине 1365px и ниже */
@media (max-width: 1365px) {
	#headerGetConsultation {
		order: 1; /* При максимальной ширине 1365px и ниже третий элемент меняется на второе место */
	}

	.h1-wrap {
		margin: 50px 0 0 0;
	}

	header {
		.header-menu {
			display: none;
		}
		#headerGetConsultation {
			display: none;
		}
	}

	.menu-btn {
		display: flex;
	}
}

/* Медиа-запрос для изменения порядка отображения на ширине 1137px и ниже */
@media (max-width: 1137px) {
	.header-menu {
		order: 2; /* При максимальной ширине 1137px и ниже второй элемент меняется на третий место */
		margin: -15.5px auto 20px auto;
		padding-right: calc(-30px + 70 * (100vw / 1365));
		justify-content: center;
		align-items: center;
	}

	#footerGetConsultation {
		order: 1; /* При максимальной ширине 1137px и ниже третий элемент меняется на второе место */
	}

	.block-whith-social-links {
		display: flex;

		&__outer {
			width: auto;
		}

		&__small-block {
			width: calc(534 / 1440 * 100vw);
		}

		&__big-block {
			width: calc(534 / 1440 * 100vw);
		}
	}

	.features::before {
		content: "";
		position: absolute;
		top: 0;
		// left: 29.375%;
		width: 95%;
		height: 90%;
		background: #eaeaea;
		z-index: -1;
	}
}

/* Медиа-запрос для изменения порядка отображения на ширине 980px и ниже */
@media (max-width: 980px) {
	.block-whith-social-links {
		flex-direction: column;
		gap: 40px;
		padding: calc(40 / 1440 * 100vw) $padding-left-and-right calc(520px + -270 * (100vw / 1440))
			$padding-left-and-right;

		&__outer {
			margin: 0 $padding-left-and-right 0 0;
			width: 100%;
		}

		&__small-block {
			width: auto;
		}

		&__big-block {
			width: auto;
		}

		&__stack-of-coins {
			display: none;
		}

		&__funnel-whith-money-and-arrow {
			position: absolute;
			width: 472px;
			height: 362px;
			bottom: calc(31 / 1440 * 100vw);
			right: $padding-left-and-right;
			background: url(../img/SVG/funnel-whith-money-and-arrow.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 100% 100%;
			z-index: 10;
		}
	}
	.block-whith-social-links::before {
		content: "";
		position: absolute;
		top: 100px;
		left: 0;
		width: 88%;
		height: 50%;
		z-index: 1;
		background-color: #ffbf1c;
	}

	.block-whith-social-links__outer::before {
		content: "";
		display: none;
	}
}

/* Медиа-запрос для изменения порядка отображения на ширине 838px и ниже */
@media (max-width: 838px) {
	.h1-wrap {
		padding: 0 $padding-left-and-right 0 $padding-left-and-right;
		display: flex;
		justify-content: space-between;

		.h1-wrap__text-wrap {
			margin: calc(94 / 1440 * 100vw) 0 0 0;
			width: 100%;
			display: flex;
			flex-direction: column;
		}
		.h1-wrap__img-wrap {
			display: none;
		}
	}

	.h2-wrap {
		flex-direction: column;
		align-items: center;
	}

	.h2-wrap__text-block {
		padding: 50px 0 0 0;
		order: 2;
		width: 100%;
	}

	.h2-wrap__img-block {
		width: 100%;
		height: calc(120px + 304 * (100vw / 838));
		order: 1;
		background-position: 100% 100%;
	}

	.block-whith-social-links {
		flex-direction: column;
		gap: 40px;
		padding-bottom: calc(160px + 110 * (100vw / 838));

		&__outer {
			margin: 0 $padding-left-and-right 0 0;
			width: 100%;
		}

		&__small-block {
			width: auto;
		}

		&__big-block {
			width: auto;
		}

		&__funnel-whith-money-and-arrow {
			position: absolute;
			width: calc(472 / 838 * 100vw);
			height: calc(270 / 838 * 100vw);
			bottom: 30px;
			right: $padding-left-and-right;
			background: url(../img/SVG/funnel-whith-money-and-arrow.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 100% 100%;
			z-index: 10;
		}

		&__telegram-link {
			position: absolute;
			left: 0;
			bottom: 183.5px;
			background: url(../img/SVG/telegram-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 30px;
			background-position: center center;
		}

		&__linkedin-link {
			position: absolute;
			left: 57px;
			bottom: 165px;
			background: url(../img/SVG/linkedin-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 24px;
			background-position: center center;
		}

		&__signal-link {
			position: absolute;
			left: 7px;
			bottom: 104px;
			background: url(../img/SVG/signal-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 26px;
			background-position: center center;
		}

		&__whatsapp-link {
			position: absolute;
			left: 108px;
			bottom: 101px;
			background: url(../img/SVG/whatsapp-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 36px;
			background-position: center center;
		}

		&__facebook-link {
			position: absolute;
			left: 55px;
			bottom: 55px;
			background: url(../img/SVG/facebook-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 30px;
			background-position: center center;
		}

		&__google-link {
			position: absolute;
			left: 137px;
			bottom: 30px;
			background: url(../img/SVG/google-ico.svg), #fff;
			background-repeat: no-repeat;
			background-size: 30px;
			background-position: center center;
		}
	}
	.block-whith-social-links::before {
		content: "";
		position: absolute;
		top: 100px;
		left: 0;
		width: 88%;
		height: 50%;
		z-index: 1;
		background-color: #ffbf1c;
	}
}

/* Медиа-запрос для изменения порядка отображения на ширине 799px и ниже */
@media (max-width: 800px) {
	.header-menu {
		.header-menu__link {
			font-size: calc(-0.5px + 18 * (100vw / 800));
		}
	}
}

/* Медиа-запрос для изменения порядка отображения на ширине 639px и ниже */
@media (max-width: 639px) {
	.header-menu {
		display: none;
	}

	.footer {
		margin: $padding-left-and-right 0 0 0;
		display: flex;
		background-color: #1c1c1c;

		&__wrap {
			padding: 12px 0 0 0;
		}

		&__top-block {
			flex-flow: column nowrap;
			gap: 0;
		}
	}

	.menu-btn {
		display: flex;
	}

	.h1-wrap {
		padding: 0 $padding-left-and-right 0 $padding-left-and-right;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.h1-wrap__text-wrap {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			h1 {
				margin: calc(23 / 1440 * 100vw) 0 0 0;
				color: #1c1c1c;
				font-family: Unbounded;
				font-size: calc(20px + 24 * (100vw / 639));
				font-style: normal;
				font-weight: 500;
				line-height: 150%; /* 66px */
			}

			.h1-wrap__button-body {
				margin: calc(60 / 639 * 100vw) 0 0 0;
				padding: 16px 32px;
				border-radius: 60px;
				background: #006ceb;
				/* btn shadow 1 */
				box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
				color: #fff;
				font-family: Unbounded;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}
	}

	.h2-wrap__span-whith-link-wrap {
		padding: 20px 0 0 0;
		display: flex;
		flex-direction: column;
	}

	.features {
		display: flex;
		margin: calc(80 / 639 * 100vw) $padding-left-and-right 0 $padding-left-and-right;
		padding: calc(40 / 639 * 100vw) 0 0 0;

		&__title {
			width: 90%;
			font-size: calc(12px + 32 * (100vw / 639));
		}

		&__subtitle-block {
			margin: calc(30 / 639 * 100vw) 0 calc(50 / 639 * 100vw) 0;
			justify-content: center;
			flex-wrap: wrap;
			gap: 5px;
			width: 90%;
			flex: 1;
		}

		&__subtitle {
			display: flex;
			font-size: calc(12px + 18 * (100vw / 639));
			text-align: center;
		}

		&__small-block-title {
			font-size: calc(12px + 18 * (100vw / 639));
		}

		&__small-block-item {
			font-size: calc(12px + 6 * (100vw / 639));
		}
	}
}

/* Медиа-запрос для изменения порядка отображения на ширине 400px и ниже */
@media (max-width: 400px) {
	.h2-wrap {
		display: flex;

		&__span {
			font-size: calc(20 / 400 * 100vw);
		}

		.h2-wrap__link {
			font-size: calc(20 / 400 * 100vw);
		}
	}
	.footer {
		&__privacy-item {
			font-size: calc(16 / 400 * 100vw);
		}
	}
}
