:root {
	--padding-left-and-right: 5.55555555555556vw; /*   var(--padding-left-and-right)   */
}

body {
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: transparent; /* Задайте цвет фона заголовка */
	backdrop-filter: blur(4px); /* Применение размытия */
	z-index: 1000; /* Уровень отображения над остальным контентом */
	transition: background-color 0.5s; /* Плавное изменение цвета фона при прокрутке */
}

.header-container {
	position: relative;
	padding: 16px 0 16px 0;
	min-height: 90px;
	max-height: 138px;
	padding: 0 var(--padding-left-and-right);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 19.5px;
}

.logo {
	margin: 0;
	padding: 0 0 0 0;
	display: flex;

	&_first-word {
		display: flex;
		color: #006ceb;
		font-family: Unbounded;
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	&_second-word {
		display: flex;
		color: #1c1c1c;
		font-family: Unbounded;
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
}

.header-menu {
	margin: 0 auto 0 auto;
	padding: 0;
	display: flex;
	order: 1;

	&_ol {
		list-style: none;
		display: flex;
		gap: 24px;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
	}

	// &_li {
	// 	display: flex;
	// }

	&_a {
		color: #1c1c1c;
		font-family: Montserrat;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
	}

	&_a:hover {
		color: var(--blue, #006ceb);
		transition: 0.4s;
	}
}
.button {
	display: flex;
	order: 3;
	margin: 18px 0;
	padding: 16px 32px;
	width: 195px;
	height: 22px;
	border-radius: 60px;
	background: #1c1c1c;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-family: Unbounded;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.button:hover {
	border-radius: 60px;
	background: var(--blue, #006ceb);
	box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}

/* Медиа-запрос для изменения порядка отображения на ширине 1365px и ниже */
@media (max-width: 1365px) {
	.header-menu {
		order: 2; /* При максимальной ширине 1365px и ниже второй элемент меняется на третий место */
		margin: -15.5px auto 20px auto;
		padding-right: calc(-30px + 70 * (100vw / 1365));
	}

	.button {
		order: 1; /* При максимальной ширине 1365px и ниже третий элемент меняется на второе место */
	}
}

/* Медиа-запрос для изменения порядка отображения на ширине 799px и ниже */
@media (max-width: 800px) {
	.header-menu {
		&_a {
			font-size: calc(-0.5px + 18 * (100vw / 800));
		}
	}
}

/* Медиа-запрос для изменения порядка отображения на ширине 639px и ниже */
@media (max-width: 639px) {
	.header-menu {
		&_a {
			font-size: calc(-0.5px + 18 * (100vw / 640));
		}
	}

	.button {
		display: none;
	}

}
