$padding-left-and-right: 5.55555555555556vw;
$ANTIpadding-left-and-right: -5.55555555555556vw;

$social-links-margin-right: 362px; /* это без учёта margin */
$social-links-margin-bottom: 84px;

// calc(-30px + 70 * (100vw / 1365))

.black-background {
	background: black;
}

.white-background {
	background: white;
}

.yello-background {
	background: #ffbf1c;
}

.black-text {
	color: #1c1c1c;
}

.blue-text {
	color: #006ceb;
}

.white-text {
	color: #ffffff;
}

.yello-text {
	color: #ffbf1c;
}

body {
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.85); /* Задайте цвет фона заголовка */
	backdrop-filter: blur(4px); /* Применение размытия */
	z-index: 1000; /* Уровень отображения над остальным контентом */
	transition: background-color 0.5s; /* Плавное изменение цвета фона при прокрутке */
}

.header__inner {
	position: relative;
	padding: 16px 0 16px 0;
	min-height: 50px;
	max-height: 138px;
	padding: 0 $padding-left-and-right;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 19.5px;
}

.logo-wrap {
	margin: 0;
	padding: 0 0 0 0;
	display: flex;
	z-index: 10000;

	.logo-first-word {
		display: flex;
		font-family: Unbounded;
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.logo-second-word {
		display: flex;
		font-family: Unbounded;
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
}

.header-menu {
	margin: 0 auto 0 auto;
	padding: 0;
	display: flex;
	order: 1;

	.header-menu__list {
		list-style: none;
		display: flex;
		gap: 24px;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
	}

	.header-menu__link {
		font-family: Montserrat;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
	}

	.header-menu__link:hover {
		color: #006ceb;
		transition: 0.4s;
	}

	.header-menu__link:not(:hover) {
		transition: 1s;
	}
}

.get-consultation-button__link {
	font-family: Unbounded;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
	order: 3;
	margin: 18px 0;
	padding: 16px 32px;
	height: 22px;
	border-radius: 60px;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer; /* Изменение вида курсора на палец при наведении */
}

.get-consultation-button__link:hover {
	background: #006ceb;
	box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}

.get-consultation-button__link:not(:hover) {
	border-radius: 60px;
	box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.3);
	transition: 1s;
}

/* Гамбургер иконка */
.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 1001;
	overflow: hidden;
	display: none;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
	display: none;
}
.menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
	padding: 90px 0 0 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.85); /* Задайте цвет фона заголовка */
	backdrop-filter: blur(10px); /* Применение размытия */
	transform: translateY(-100%);
	transition: transform 0.5s;
	z-index: 20;

	nav {
		margin: 0 $padding-left-and-right;
	}

	li {
		margin: 0 auto;
	}

	a {
		color: #1c1c1c;
		font-family: Montserrat;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 48px;
	}

	a:hover {
		color: #006ceb;
		transition: 0.4s;
	}

	a:not(:hover) {
		color: #1c1c1c;
		transition: 1s;
	}
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}

.h1-wrap {
	padding: 0 $padding-left-and-right 0 $padding-left-and-right;
	display: flex;
	justify-content: space-between;
	margin: 90px 0 0 0;

	.h1-wrap__text-wrap {
		margin: calc(94 / 1440 * 100vw) 0 0 0;
		width: calc(630 / 1440 * 100vw);
		display: flex;
		flex-direction: column;

		h1 {
			padding: calc(23 / 1440 * 100vw) 0 0 0;
			color: #1c1c1c;
			font-family: Unbounded;
			font-size: 40px;
			font-style: normal;
			font-weight: 500;
			line-height: 150%; /* 66px */
		}

		.h1-wrap__button-wrap {
			display: flex;
		}

		.h1-wrap__button-link {
			color: #fff;
			font-family: Unbounded;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			white-space: nowrap; /* Отменяет перенос слов */
			display: inline-block;
			margin: 40px 0 0 0;
			padding: 16px 32px;
			// width: auto;
			border-radius: 60px;
			background: #006ceb;
			/* btn shadow 1 */
			box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
			cursor: pointer; /* Изменение вида курсора на палец при наведении */
		}

		.h1-wrap__button-link:hover {
			background: #1c1c1c;
			transition: 0.4s;
		}

		.h1-wrap__button-link:not(:hover) {
			background: #006ceb;
			transition: 1s;
		}
	}
	.h1-wrap__img-wrap {
		display: flex;
		width: calc(630 / 1440 * 100vw);
		height: 440px;
		background-image: url(../img/SVG/h1-illustration.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 100% 82%;
	}
}

.h2-wrap {
	padding: calc(80 / 1440 * 100vw) $padding-left-and-right 0 $padding-left-and-right;
	display: flex;
	justify-content: space-between;

	&__text-block {
		width: calc(633 / 1440 * 100vw);
		display: flex;
		flex-direction: column;
	}

	&__h2 {
		display: flex;
		color: #006ceb;
		font-family: Unbounded;
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 45px */
	}

	&__span {
		padding: 0 5px 0 0;
		display: block;
		color: #1c1c1c;
		font-family: Montserrat;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
	}

	&__strong {
		padding: 20px 0 0 0;
		display: block;
		color: #1c1c1c;
		font-family: Montserrat;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%; /* 30px */
	}

	&__span-whith-link-wrap {
		padding: 20px 0 0 0;
		display: flex;
		flex-wrap: nowrap;
	}

	&__link {
		color: #006ceb;
		font-family: Montserrat;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 150%;
	}

	.h2-wrap__button-wrap {
		display: flex;
	}

	.h2-wrap__button-body {
		display: flex;
	}

	.h2-wrap__button-link {
		color: #fff;
		font-family: Unbounded;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		white-space: nowrap; /* Отменяет перенос слов */
		display: inline-block;
		margin: 30px 0 0 0;
		padding: 16px 32px;
		// width: auto;
		border-radius: 60px;
		background: #006ceb;
		/* btn shadow 1 */
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
		cursor: pointer; /* Изменение вида курсора на палец при наведении */
	}

	.h2-wrap__button-link:hover {
		background: #1c1c1c;
		transition: 0.4s;
	}

	.h2-wrap__button-link:not(:hover) {
		background: #006ceb;
		transition: 1s;
	}

	&__img-block {
		width: calc(607 / 1440 * 100vw);
		background: url(../img/SVG/h2-illustration.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 100% 20%;
	}
}

.block-whith-social-links {
	margin: calc(80 / 1440 * 100vw) 0 0 0;
	position: relative;
	display: flex;
	// justify-content: space-between;
	gap: calc(60 / 1440 * 100vw);
	background-color: #eaeaea;
	padding: calc(40 / 1440 * 100vw) $padding-left-and-right calc(600px + -350 * (100vw / 1440)) $padding-left-and-right;

	&__stack-of-coins {
		position: absolute;
		width: 300px;
		height: 276px;
		bottom: calc(75 / 1440 * 100vw);
		right: 626px;
		background: url(../img/SVG/stack-of-coins.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 100% 100%;
		z-index: 10;
	}

	&__funnel-whith-money-and-arrow {
		position: absolute;
		width: 472px;
		height: 409px;
		bottom: calc(31 / 1440 * 100vw);
		right: $padding-left-and-right;
		background: url(../img/SVG/funnel-whith-money-and-arrow.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% 100%;
		z-index: 10;
	}

	&__social-link {
		position: absolute;
		margin: 0 $padding-left-and-right 0 $padding-left-and-right;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		z-index: 10;
		filter: drop-shadow(0px 0px 26px rgba(0, 0, 0, 0.16));
	}

	&__telegram-link {
		position: absolute;
		right: calc(($social-links-margin-right) + 137.5px);
		bottom: calc(($social-links-margin-bottom) + 153.5px);
		background: url(../img/SVG/telegram-ico.svg), #fff;
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: center center;
	}

	&__linkedin-link {
		position: absolute;
		right: calc(($social-links-margin-right) + 80px);
		bottom: calc(($social-links-margin-bottom) + 135px);
		background: url(../img/SVG/linkedin-ico.svg), #fff;
		background-repeat: no-repeat;
		background-size: 24px;
		background-position: center center;
	}

	&__signal-link {
		position: absolute;
		right: calc(($social-links-margin-right) + 130px);
		bottom: calc(($social-links-margin-bottom) + 74px);
		background: url(../img/SVG/signal-ico.svg), #fff;
		background-repeat: no-repeat;
		background-size: 26px;
		background-position: center center;
	}

	&__whatsapp-link {
		position: absolute;
		right: calc(($social-links-margin-right) + 29px);
		bottom: calc(($social-links-margin-bottom) + 71px);
		background: url(../img/SVG/whatsapp-ico.svg), #fff;
		background-repeat: no-repeat;
		background-size: 36px;
		background-position: center center;
	}

	&__facebook-link {
		position: absolute;
		right: calc(($social-links-margin-right) + 82px);
		bottom: calc(($social-links-margin-bottom) + 25px);
		background: url(../img/SVG/facebook-ico.svg), #fff;
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: center center;
	}

	&__google-link {
		position: absolute;
		right: $social-links-margin-right;
		bottom: $social-links-margin-bottom;
		background: url(../img/SVG/google-ico.svg), #fff;
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: center center;
	}

	&__outer {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 40px;
		z-index: 2;
	}

	&__small-block {
		flex: 1;
		width: 422px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 30px;
		border-radius: 30px;
		background: #fff;
		/* card shadow bg */
		box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
		z-index: 2;
	}

	&__title {
		display: flex;
		color: #1c1c1c;
		font-family: Unbounded;
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 45px */
	}

	&__text {
		position: relative;
		display: flex;
		color: #1c1c1c;
		font-family: Montserrat;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 30px */
	}

	&__big-block {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 30px 30px 30px 30px;
		border-radius: 30px;
		background: #fff;
		/* card shadow bg */
		box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
		z-index: 2;
	}
}

.block-whith-social-links__social-link:hover {
	/* поведение при наведении на social link */
	background-position: center center;
	filter: drop-shadow(0px 0px 15px #006ceb);
	transition: 0.4s;
}

.block-whith-social-links__social-link:not(:hover) {
	/* поведение при отведении с social link */
	background-position: center center;
	box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
	transition: 1s ease;
}

.block-whith-social-links__outer::before {
	content: "";
	position: absolute;
	top: 13.7%;
	left: $ANTIpadding-left-and-right;
	// width: 49.3%;
	width: 710px;
	height: 72.7%;
	z-index: 1;
	background-color: #ffbf1c;
}

.features {
	margin: 80px $padding-left-and-right 0 $padding-left-and-right;
	padding: 40px 0 0 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		display: flex;
		justify-content: center;
		text-align: center;
		width: 57%;
		color: #1c1c1c;
		font-family: Unbounded;
		font-size: 44px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 66px */
	}

	&__subtitle-block {
		margin: 30px 0 50px 0;
		gap: 20px;
		display: flex;
	}

	&__subtitle {
		display: flex;
		color: #1c1c1c;
		font-family: Unbounded;
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 45px */
	}

	&__wrap-whith-small-blocks {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__small-block {
		width: 250px;
		padding: 30px;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		gap: 12px;
		border-radius: 30px;
		background: var(--white, #fff);
		/* card shadow bg */
		box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.16);
	}

	&__small-block-title {
		color: #1c1c1c;
		font-family: Unbounded;
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 45px */
	}

	&__small-block-list {
		padding: 0 0 0 16px;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__small-block-item {
		position: relative;
		color: #1c1c1c;
		font-family: Montserrat;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 27px */
	}
}

.features::before {
	content: "";
	position: absolute;
	top: 0;
	width: 66.1%;
	height: 90%;
	background: #eaeaea;
	z-index: -1;
}

.features__small-block-item::before {
	content: "";
	position: absolute;
	top: 1ex;
	left: -16px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #006ceb;
	z-index: 2;
}

.footer {
	margin: $padding-left-and-right 0 0 0;
	display: flex;
	background-color: #1c1c1c;

	&__wrap {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__top-block {
		position: relative;
		padding: 0 $padding-left-and-right 0 $padding-left-and-right;
		min-height: 90px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		gap: 19.5px;
	}

	&__center-block {
		padding: 0 $padding-left-and-right 30px $padding-left-and-right;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__privacy-list {
		display: flex;
		gap: 24px;
	}

	&__privacy-item {
		color: #fff;
		font-variant-numeric: lining-nums proportional-nums;
		font-feature-settings: "liga" off;
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.16px;
	}

	&__bottom-block {
		padding: 0 $padding-left-and-right 0 $padding-left-and-right;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 30px;
		background-color: #ffbf1c;
	}

	&__bottom-block-text {
		color: #1c1c1c;
		text-align: center;
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.16px;
	}

	&__header-menu {
		display: flex;
	}
}
